<h1>Registed New Process Step</h1>

<%= form_with model: @process_step, local: true do |f|%>
  <%= f.label :name, "Name: " %>
  <%= f.text_field :name %><br>
  <%= f.label :description, "Description: " %>
  <%= f.text_field :description %><br>
  <%= f.label :position, "Position: " %>
  <%= f.text_field :position %><br>
  <%= f.label :measurement, "Measurement: " %>
  <%= f.text_field :measurement %><br>

  <%= f.submit "Save" %>
<% end %>
