<h1><%= @process_step.name %></h1>
<p><%= @process_step.description %></p>
<p>Position: <%= @process_step.position %></p>
<p>Measurements: <% @process_step.parameters.each do |parameter| %></p>
  <p><%= parameter.measurement %></p>
<% end %>
<%= link_to "Update #{@process_step.name}", "/process_steps/#{@process_step.id}/edit", method: :get %>
<p><%= link_to "Create Parameter", "/process_steps/#{@process_step.id}/parameters/new", method: :get %></p>
